# Basic Python

to print print("....")                
to print exactly same we use triple quotations(""".....""")                 
to print next line we use \n

In [3]:
print("hello")

hello

In [5]:
print("""hii
I am Palak""")

hii
I am Palak

In [9]:
print("hi\nPalak")

hi
Palak

for comments we use # this symbol

In [20]:
#HIII

for multiline comments we use """ .......""""

In [24]:
"""hiii
i am palak"""

'hiii\ni am palak'

variable name should not have space between them they can have underscores

In [27]:
Age_Ram = int(input("enter ram's age"))

enter ram's age 23

In [29]:
print(Age_Ram)

23

In [31]:
print(type(Age_Ram))

<class 'int'>

Program 1: Write a program to display a person's age , name and address in 3 different lines   
name="John"   
age = 23   
address="Kurukshetra"

In [41]:
name="John"
age = 23
address="Kurukshetra"

In [43]:
print(name)
print(age)
print(address)

John
23
Kurukshetra

Program 2 : Write a program to swap 2 variables

In [50]:
x = 12 
y = 13

In [52]:
temp = x
x = y 
y = temp
print(x)
print(y)

13
12

Program 3 : Write a program to convert float into integer

In [57]:
x = 3.14 
print(int(x))

3

Program 4 : Take input from student for ID Card and print it in different lines

In [64]:
student_name = input("Enter Student's name")
student_age = int(input("enter student's age"))
print(student_name)
print(student_age)

Enter Student's name Palak
enter student's age 20

Palak
20