<a href="https://colab.research.google.com/github/IamThePalak/Python/blob/main/Python_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Python Basics**

In [ ]:
print("hello")

hello

In [ ]:
print("machine learning"+" projects")

machine learning projects

In [ ]:
print(8+3)

11

# **Basic Data Types**

*   int
*   str
*   float

In [ ]:
type(8)

int

In [ ]:
type("hello")

str

In [ ]:
type(3.14)

float

# **Constant and Variables**

In [ ]:
marvel_super_hero = "Iron man"
print(marvel_super_hero)

Iron man

In [ ]:
marvel_super_hero = "Captain America"
print(marvel_super_hero)

Captain America

In [ ]:
hero1,hero2,hero3 = "Iron man","Spider man","Captain america"
print(hero1)
print(hero2)
print(hero3)

Iron man
Spider man
Captain america

In [ ]:
x = y = z = 23
print(x)
print(y)
print(z)

23
23
23

# **Input function**

In [ ]:
number1 = int(input("Enter first number : "))
number2 = int(input("Enter second number: "))
print(number1+number2)

Enter first number : 12
Enter second number: 14
26

# **basic data types in python**


1.   int
2.   float
3. str
4.complex
5.boolean

In [ ]:
# integer
a = 2
print(a)
type(a)

2

int

In [ ]:
# float
a = 3.14
print(a)
type(a)

3.14

float

In [ ]:
#string
a = "hello"
print(a)
type(a)

hello

str

In [ ]:
#complex
a = 2+3j
print(a)
type(a)

(2+3j)

complex

In [ ]:
#boolean
a = True
print(a)
type(a)

True

bool

In [ ]:
#float to int
a = 7.8
print(a)
type(a)
print(int(a))

7.8
7

In [ ]:
# slicing
my_string = "Machine learning"
print(my_string[0:6]) # values from 0 to 6-1 will be printed

Machin

In [ ]:
# step
my_string = "Machine learning"
print(my_string[0:6:2]) # values from 0 to 6-1 will be printed with step 2

Mci

In [ ]:
# string concatenation
string1 = "Machine"
string2 = "learning"
print(string1+" "+string2)

Machine learning

# **Types of objects in Python**

1.mutable

2.immutable

**Imummatable objects**

1.int

2.float

3.string

4.bool

5.tuple

**Mutable objects**

1.List

2.Set

3.Dictionary

# **List**

In [ ]:
# list should be included in square brackets
my_list = [1,2,3,4,5]
print(my_list)
type(my_list)

[1, 2, 3, 4, 5]

list

In [ ]:
#list can have multiple data types
my_list=[1,2.13,"hello",True,2+3j]
print(my_list)
type(my_list)

[1, 2.13, 'hello', True, (2+3j)]

list

In [ ]:
#lists are mutable(changeable)
#add element to list
my_list=[1,2.13,"hello",True,2+3j]
my_list.append(8)
print(my_list)

[1, 2.13, 'hello', True, (2+3j), 8]

In [ ]:
# print element of list using index
print(my_list[0])
print(my_list[1])

1
2.13

In [ ]:
# list allow to duplicate values
my_list=[1,2.13,2.13]
print(my_list)

[1, 2.13, 2.13]

In [ ]:
# print length of list
print(len(my_list))

3

In [ ]:
# initiating empty list
my_list = []
print(my_list)

[]

In [ ]:
my_list.append(9)
print(my_list)

[9]

In [ ]:
# delete an item from list
my_list=[1,2.6,3,4,5]
del my_list[2]
print(my_list)

[1, 2.6, 4, 5]

In [ ]:
#join 2 list
my_list1=[1,2,3]
my_list2=[4,5,6]
my_list=my_list1+my_list2
print(my_list)

[1, 2, 3, 4, 5, 6]

# **Tuple**

In [1]:
my_tuple = (1,2,4,5)
print(my_tuple)
type(my_tuple)

(1, 2, 4, 5)

tuple

In [2]:
# tuple allow multiple data types
my_tuple = (1,2.13,"hello",True,2+3j)
print(my_tuple)
type(my_tuple)

(1, 2.13, 'hello', True, (2+3j))

tuple

In [8]:
#converting list into tuple
list1 = [1,2,3,4]
print(list1)
type(list1)
tuple1 = tuple(list1)
print(tuple1)
type(tuple1)

[1, 2, 3, 4]
(1, 2, 3, 4)

tuple

In [9]:
# tuple can be assessed through indexing
tuple1 = (1,2,3,4)
print(tuple1[2])

3

In [10]:
# tuples are immutable

In [11]:
# length of tuple
print(len(tuple1))

4

# **Set**

In [12]:
# sets are enclosed within curly brackets
my_set = {1,2,3,4,5}
print(my_set)
type(my_set)

{1, 2, 3, 4, 5}

set

In [13]:
# converting list into set
my_list = [1,2,3,4,5]
print(my_list)
type(my_list)
my_set = set(my_list)
print(my_set)
type(my_set)

[1, 2, 3, 4, 5]
{1, 2, 3, 4, 5}

set

In [14]:
# set does not allow duplicate values
my_set = {1,2,3,4,5,5}
print(my_set)

{1, 2, 3, 4, 5}

# **Dictionary**
-----(key value pair)

In [15]:
my_dictionary = {"name":"jack","age":26,"country":"USA"}
print(my_dictionary)
type(my_dictionary)

{'name': 'jack', 'age': 26, 'country': 'USA'}

dict

In [16]:
print(my_dictionary["name"])
print(my_dictionary["age"])

jack
26

In [17]:
# dictionary does not allow duplicate values
my_dictionary = {"name":"jack","age":26,"country":"USA","age":27}
print(my_dictionary)

{'name': 'jack', 'age': 27, 'country': 'USA'}